    <!--h1 tag, the most prominent of the h tags. Usually the title -->
    <h1>TOWN</h1>

<!-- h2 tag, next in line after h1. Usually the subheading under the title and the most read line of a website -->
    <h2>To bring quality, style and the wish for good fortune to all of our guests. We provide a high-end experience through Chinese cuisine.</h2>
<!--The p tag is for paragraph for block elements of text -->
    <p>TOWN combines a variety of chinese cuisine to excite and delight our customers.  Our vision for the future is to create experiential dining that is more than just a night out. We aim to bring quality and luxury across all aspects of our brand. The approach of TOWN is to develop our brand with the understanding of both our culture and consumer insights. Within our vision always lives the promise of inspiring creativity, conversation and quality. Our audience is a high-end clientele who values a dining experience. The age range of our customers are from early 30s-60s. We would like them to come back for both personal dining and events. </p>
